<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Stylei.css">
    <title>inicio</title>
</head>
<body>
    <header>
        <img src="/static/images/logo blanco.jpeg" alt="">
        <h2>tienda SJJT</h2>
    </header>
    <nav>
        <nav>
           <ul>
             <li>
              <a href="/"><h3>inicio</h3></a>
             </li>
             <li>
              <a href="registrar"><h3>ingresar cliente</h3></a>
             </li>
             <li>
              <a href="actualizar"><h3>actualizar datos</h3></a>
             </li>
             <li>
              <a href="datos"><h3>datos</h3></a>
             </li>
           </ul>
          </nav>
    </nav>

   <section><h1>Bienvenido seleccione una opción del menu</h1></section>

</body>
</html>